// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.f-img{
  width: 250px;
  float:left;
  padding-left:50px;
}

.detail{
  width: 600px;
  float:left;
}

.favorite{
  clear:both;
}

.return{
  clear:both;
}